@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --blog-yellow: #f4d04e;
  --blog-white: #ffffff;
  --blog-gray-500: #6b6b6b;
  --blog-gray-950: #121212;
  --blog-paragraph: 16px;

  --social-links-grey-700: #333333;
  --social-links-grey-800: #1f1f1f;
  --social-links-grey-900: #141414;
  --social-links-green: #c4f82a;
  --social-links-white: #ffffff;


  --recipe-stone-100: #f3e6d8;
  --recipe-stone-150: #e4ded8;
  --recipe-stone-600: #5f574e;
  --recipe-stone-900: #302d2c;
  --recipe-brown-800: #854632;
  --recipe-rose-800: #7b284f;
  --recipe-rose-50: #fff5fa;

}

